{% extends "/adm/layout_adm.html" %}

{% block head %}
<title>Cadastro de Clientes</title>
<link rel="stylesheet" href="/static/css/layout.css">
<link rel="stylesheet" href="/static/css/cadastros.css">
<link rel="stylesheet" href="/static/css/administrador.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='general.css') }}"> 
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}

    <main>
    <body style="background-color: #ffffff;">
        <div class="container">
        <!-- <header>
            <div class="row" style="height:30%">
                <div class="col-md-3 align-self-center"><img src="static/logo.png" id="logo_header"></div>
                <div class="col-md-3 align-self-end"><a href="{{url_for('homepage')}}"><button class="btn_menu">Home</button></a></div>
                <div class="col-md-3 align-self-end"><a href="{{url_for('agendamento')}}"><button class="btn_menu">Agendamento</button></a></div>
                <div class="col-md-3 align-self-end"><button class="btn_menu">Log Out</button></div> 
            </div>
        </header> -->
            <div class="row content">
            <h1>Administração de clientes</h1>
            <div>
                Aqui é a página de administração dos clientes.<br><br>
            </div>

            

            {% set mensagem = get_flashed_messages() %}
            {% if mensagem %}
                <div class="flash_alerta">
                     {{mensagem[0]}}
                </div>
            {% endif %}
            
            <!--Início do código novo do formulário para deixa bonitão-->

            <div class="container_form">
                <h2>Cadastro de Clientes</h2>

                <form action="/administrador" id="administrador" method="POST">
                    <div class="form_grupo">
                        <label for="Nome" class="form_label">Nome:</label>
                        <input type="text" class="form_input" name="nome" id="nome" required placeholder="Digite o nome e sobrenome">
                    </div>

                    <div class="form_grupo">
                        <label for="CPF" class="form_label">CPF/CNPJ:</label>
                        <input type="text" class="form_input" name="cpf" id="cpf" placeholder="Digite apenas números">
                    </div>

                    <div class="form_grupo">
                        <label for="Telefone" class="form_label">Telefone:</label>
                        <input type="text" class="form_input" name="telefone" id="telefone" required placeholder="Digite apenas números: DDD e número">
                    </div>

                    <div class="form_grupo">
                        <label for="email" class="form_label">Email:</label>
                        <input type="email" class="form_input" name="email" id="email" placeholder="Digite seu email">
                    </div>

                    <div class="form_grupo">
                        <label for="CEP" class="form_label">CEP:</label>
                        <input type="text" class="form_input" maxlength="9" id="cep" onkeyup="handleZipCode(event)"/>
                    </div>

                    <div class="form_grupo">
                        <label for="Rua" class="form_label">Rua:</label>
                        <input type="text" class="form_input" id="rua"/>
                    </div>

                    <div class="form_grupo">
                        <label for="Número" class="form_label">Número:</label>
                        <input type="text" class="form_input" id="numero"/>
                    </div>

                    <div class="form_grupo">
                        <label for="Bairro" class="form_label">Bairro:</label>
                        <input type="text" class="form_input" id="bairro"/>
                    </div>

                    <div class="form_grupo">
                        <label for="Cidade" class="form_label">Cidade:</label>
                        <input type="text" class="form_input" id="cidade"/>
                    </div>

                    <div class="form_grupo">
                        <label for="Estado" class="form_label">Estado:</label>
                        <input type="text" class="form_input" id="estado"/>
                    </div>
                    
                    <div class="form_grupo">
                        <label for="Tipo do serviço" class="text">Tipo de Serviço</label> <!--A class aqui é text, diferente dos outros-->
                            <select name="tipoServico" id="tipoServico" class="dropdown" required>
                                <option selected disabled class="form_select_option" value="">Selecione</option>
                                <option value="Montagem" class="form_select_option">Montagem</option>
                                <option value="Desmontagem" class="form_select_option">Desmontagem</option>
                                <option value="Manutencao" class="form_select_option">Manuntenção</option>
                                <option value="Marcenaria" class="form_select_option">Marcenaria</option>
                            </select>
                    </div>

                    <div class="form_grupo">
                        <label for="Data" class="form_label">Agenda:</label><br>
                        <input type="date" class="form_input" name="agenda" id="agenda" required placeholder="Digite a agenda desejada">
                    </div>

                    <button type="submit" id="btnCadastro" class="btn btn-success">
                        <span></span>
                        <span></span>Cadastrar
                    </button>

                </form>
            </div>
            

            <h2>Base de clientes</h2>
            <div id="form_Tabela">
                <table>
                    <tr>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Telefone</th>
                        <th>Email</th>
                        <th>Endereço</th>
                        <th>Data de Execução</th>
                        <th colspan="2">Ações</th>
                    </tr>
                    
               
                    {% if clientes %}
                    {% for c in clientes %}
                        <tr>
                            <td>{{c["nome"]}}</td>
                            <td>{{c["cpf"]}}</td>
                            <td>{{c["telefone"]}}</td>
                            <td>{{c["email"]}}</td>
                            <td>{% if c["rua"] == None %}
                                    {{''}}
                                {% else %}    
                                    {{c["rua"]+','+c["numero"]+','+c["bairro"]+','+c["cidade"]+'-'+c["estado"]}}
                                {% endif %}
                            </td>
                            <td>{{c["agenda"]}}</td>
                            <td><a class="btn btn-primary btn-sm">Atualizar</a></td>
                            <td><a class="btn btn-danger btn-sm" href='/excluir/{{c["id_cliente"]}}'>Excluir</a></td>
                        </tr>
                    
                    {% endfor %}
                    {% else %}
                    <h3>Não existem clientes cadastrados</h3>
                    {% endif %}
                    
                </table> <br><br>
            </div>
            
        </div>
        </div>
        <script type="text/javascript">
            const handleZipCode = (event) => {                   
                let input = event.target
                input.value = zipCodeMask(input.value)
            }

            const zipCodeMask = (value) => {
              if (!value) return ""
              value = value.replace(/\D/g,'')
              value = value.replace(/(\d{5})(\d)/,'$1-$2')
              return value
            }

            document.getElementById("cep").addEventListener("focusout", buscaCEP);

            function buscaCEP() {
                let cep = event.target
                let json_fetch = ''
                const requestOptions = {
                      method: "GET",
                      redirect: "follow"
                    };
                fetch('https://brasilapi.com.br/api/cep/v2/'+cep.value.replace('-',''), requestOptions)
                    .then((response) => json_fetch = response.json(),
                    document.getElementById("estado").value = json_fetch['state'],
                    document.getElementById("cidade").value = json_fetch['city'],
                    document.getElementById("rua").value = json_fetch['street'],
                    document.getElementById("bairro").value = json_fetch['neighborhood'],
                    console.log(json_fetch)
                )
                    .catch((error) => console.error(error));
            }
        </script>
    </body>
    </main>
{% endblock %}