<html>
<head>
    <link rel="stylesheet" href="/static/css/layout.css">

    {% block head %}

    {% endblock %}

</head>
<body>
    <header>
        <img src="/static/logo.png" alt="image">
    </header>
    <nav class="navbar" >
        <ul class="navbar">
            <li><a href="/">Home</a><li>
            <li><a href="{{url_for('agendamento')}}">Agendamento</a></li>
            <li><a href="logout">Sair</a></li>
        </ul>
    </nav>

    {% block body %}
    {% endblock %}

    <footer class="footer">
        <p>Siga-nos nas redes sociais:</p>
        <ul>
            <li><a href="https://www.instagram.com/annaalvesbelezaestetica/"target="_blank"><img src="/static/instagram.logo.jpeg" >Instagram</a></li>
            <li><a href="https://www.facebook.com/profile.php?id=100008415904030" target="_blank"><img src="/static/facebook.logo.jpeg">Facebook</a></li>
            <li><a href="https://api.whatsapp.com/send?phone=%2B5519981114321&fbclid=IwAR0Ph63crFCBGXTLI5SvEbXcShY2t_xEYBRaDNz-bQSTSBD6QDPsZvo_ZIc" target="_blank"><img src="/static/whatsapp.logo.jpg" >Whatsapp</a></li>
        </ul>
    </footer>

</body>
</html>