{% extends "/adm/layout_adm.html" %}

{% block head %}
<title>Cadastro de Clientes</title>
<link rel="stylesheet" href="/static/css/layout.css">
<link rel="stylesheet" href="/static/css/cadastros.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block body %}
<main>
    <form action="/cadastro_cliente" method="post">
        <div class="input-group">
            <label>Nome</label>
            <span class="input-group-text">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                </svg>
            </span>
            <input type="text" name="nome" class="form-control ml-2" required="required" placeholder="Nome"
                aria-describedby="basic-addon1" />
        </div>
        <div class="input-group">
            <label>Telefone</label>
            <span class="input-group-text">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                </svg>
            </span>
            <input type="text" name="telefone" class="form-control ml-2" required="required" placeholder="Telefone"
                aria-describedby="basic-addon1" />
        </div>
        <div class="input-group">
            <label>Data de Nascimento</label>
            <span class="input-group-text">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                </svg>
            </span>
            <input type="date" name="data_nascimento" class="form-control ml-2" placeholder="Data de Nascimento"
                aria-describedby="basic-addon1" />
        </div>
        <div class="input-group">
            <label>Endereço</label>
            <span class="input-group-text">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                </svg>
            </span>
            <input type="text" name="endereco" class="form-control ml-2" placeholder="Endereço"
                aria-describedby="basic-addon1" />
        </div>
        <div class="input-group">
            <label>Facebook</label>
            <span class="input-group-text">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                </svg>
            </span>
            <input type="text" name="facebook" class="form-control ml-2" placeholder="Facebook"
                aria-describedby="basic-addon1" />
        </div>
        <div class="input-group">
            <label>Instagram</label>
            <span class="input-group-text">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                </svg>
            </span>
            <input type="text" name="instagram" class="form-control ml-2" placeholder="Instagram"
                aria-describedby="basic-addon1" />
        </div>
        <div class="text-center">
            <button type="submit" class="button-confirm">Cadastrar</button>
        </div>
    </form>
</main>
{% endblock %}