


div#form_Tabela{
    table {
        border-collapse: collapse;
        width: 100%;
    }
      
    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #DDD;
    }
    tr:hover {background-color: #D6EEEE;}

}

div#form_cadastro{
    background-color: white;
    font-size: 20px;
    border-radius: 5px;
    /*font-weight: lighter;*/
    text-align: left;
}

div.flash_alerta{
    background-color: red;
    font-size: 15px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

.container_form{
   width: 700 px;
   margin: auto;
   display: flex;
   flex-direction: column;
   background: #ffffff;
   box-shadow: 1px 0px 1.2px 0px #e3e3e3;
   border-radius: 3px;
   padding: 1em;
}

.form_grupo{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
    position: relative;
    text-align: left;
}

.form_input{
    font-size: 16px;
    font-family: inherit;
    padding: 8px 15px;
    border-radius: 4px;
    border: 1px #fdfdfd solid;
    outline: none;
    width: 100%;
    transition: all 0.3s;
}

.dropdown{
    display: block;
    margin: 0 auto;
    font-size: 16px;
    font-family: inherit;
    color: #222222;
    border-radius: 4px;
    border: 1px #f2f2f2 solid;
    background: #fdfdfd;
    outline: none;
    padding-left: 16px;
    padding: 8px 15px;
    width: 100%;
}