
.content {
  background-color: black;
  color: white;
}
.btn_menu {
  background-color: black;
  color: white;
  font-size: medium;
  border-radius: 15px;
  float: left;
  margin-top: 7%;
  margin-left: 25px;
  width: 80%
}
@media screen and (max-width: 400px) {
  #logo_header {
    width: 100% !important;
  }
}
#logo_header {
  border-radius: 30px;
  float: left;
  height: 100%;
}
#sobre {
  background-color: #FFFAEA;
  color: black;
  font-size: 20px;
  margin: 10px;
}
