{% extends "layout.html" %}

{% block head %}
    <title>{{ strings.title }}</title>
    <link rel="stylesheet" href="/static/css/home.css">
    <script type="text/javascript">
        var phoneNumber = "{{ phone_number }}";
    </script>
    <script src="{{ url_for('static', filename='scripts/home.js') }}"></script>
{% endblock %}

{% block body %}

<main>
	<div class="header-gradient">
        <!-- Navbar-->
        <nav class="navbar navbar-expand-lg">
            <div class="container px-5">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">{{ strings.home }}</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login"> {{ strings.adm }}</a></li>
                        <li class="nav-item"><a class="nav-link active" href="#!" onclick="scrollToBottom()">{{ strings.contact }}</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class= "py-5">
            <div class="container">
                <div class="row gx-2 justify-content-center style="height: auto;">
                    <div class="col-lg-8">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-header mb-8">{{ strings.title }}</h1>
								<div class="container-fluid p-3">
									<div class="row g-0 text-start text-header">
										<div class="col-lg-6 order-lg-1 my-auto p-4"> 
											 <p class="lead mb-0">Com mais de 15 anos de experiência, a oficina do móvel presta diferentes tipos de serviço, como montagens, desmontagens e
                                                reparos de móveis, instalação de painéis e muito mais. Para mais informações e orçamentos, preencher o cadastro na tela de agendamento</p>
											
										 </div>
										 <div class="col-lg-6 order-lg-2 text-white " style="background-image: url('static/assets/imagem1.jpg'); background-size: contain; background-repeat: no-repeat; background-position: center; height: auto;"></div>
									</div>
								</div>
							<div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                                <button class="btn btn-primary btn-lg px-4 me-sm-5" style= "background-color: green; color: white; border: 1px solid white;" onclick="scrollToBottom()">{{ strings.start_contact }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        </div>
		<!-- Image Showcases-->
        <section class="showcase">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('static/assets/imagem2.jpg')"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>Experiência</h2>
                        <p class="lead mb-0">Para você que nunca montou um móvel ou se perdeu no manual de instruções, conte com a experiência!</p>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 text-white showcase-img" style="background-image: url('static/assets/imagem3.jpg')"></div>
                    <div class="col-lg-6 my-auto showcase-text">
                        <h2>Eficiência</h2>
                        <p class="lead mb-0">Por conta dos anos de prática, as montagens e instalações são rápidas e eficientes!</p>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('static/assets/imagem4.jpg')"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>Tempo</h2>
                        <p class="lead mb-0">Não perca tempo analisando manuais e identificando peças, deixe para um profissional!</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact section-->
        <section class="bg-light py-5">
            <div class="container px-5 my-5 px-5">
                <div class="text-center mb-5">
                    <div class="feature bg-whatsapp-icon bg-gradient text-white rounded-3 mb-3"><i class="bi bi-whatsapp"></i></div>
                    <h2 class="fw-bolder">{{ strings.budget_title }}</h2>
                    <p class="lead mb-0">{{ strings.budget_description }}</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <form id="contactForm" onsubmit="return redirectToWhatsapp(phoneNumber);">
                            <!-- Nome-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" type="text" placeholder="" required />
                                <label for="name">{{ strings.name_form }}</label>
                            </div>
                            <!-- Tipo de serviço -->
                            <div class="form-check mb-3">
                                <label for="tipo_servico" class="me-2">{{ strings.type_work }}</label>
                                <select id="tipo_servico" class="custom-select" required>
                                    <option value="servico1">{{ strings.mount }}</option>
                                    <option value="servico2">{{ strings.install }}</option>
                                </select>
                            </div>
                            <!-- Descrição -->
                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="message" type="text" placeholder="" style="height: 10rem" required></textarea>
                                <label for="message">{{ strings.task_description_form }}</label>
                            </div>
                            <!-- Botão-->
                            <div class="d-grid"><button class="btn btn-whatsapp btn-lg" id="submitButton" type="submit">{{ strings.start_contact }}</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
</main>
{% endblock %}
