{% extends "/adm/layout_adm.html" %}

{% block head %}
<title>{{ strings.title }}</title>
<link rel="stylesheet" href="/static/css/register_client.css">
<script src="{{ url_for('static', filename='scripts/home.js') }}"></script>
{% endblock %}

{% block body %}
<main>
    <div class="card">
        <h2 class="card-title text-center">{{ strings.title }}</h2>
        <form action="/servicos/cadastro" method="POST">
            <div class="input-group">
                <label>Nome:</label>
                <input type="text" name="nome" class="form-control ml-2" required="required" placeholder="Nome"
                    aria-describedby="basic-addon1" />
            </div>
            <div class="input-group">
                <label>Telefone:</label>
                <input type="text" name="telefone" class="form-control ml-2" required="required" placeholder="Telefone"
                    aria-describedby="basic-addon1" />
            </div>
            <div class="input-group">
                <label>Data de nascimento:</label>
                <input type="date" name="data_nascimento" class="form-control ml-2"
                    aria-describedby="basic-addon1" min="2024-01-01" max="2100-01-01"/>
            </div>
            <div class="input-group">
                <label>Endereço:</label>
                <input type="text" name="endereco" class="form-control ml-2" placeholder="Endereço"
                    aria-describedby="basic-addon1" />
            </div>
            <div class="input-group">
                <label>Facebook:</label>
                <input type="text" name="facebook" class="form-control ml-2" placeholder="Facebook"
                    aria-describedby="basic-addon1" />
            </div>
            <div class="input-group">
                <label>Instagram:</label>
                <input type="text" name="instagram" class="form-control ml-2" placeholder="Instagram"
                    aria-describedby="basic-addon1" />
            </div>
            <div class="text-center">
                <button type="submit" class="button-confirm">{{ strings.register_btn }}</button>
            </div>
        </form>
    </div>
   
</main>
{% endblock %}
