{% extends "layout.html" %}

{% block head %}
    <title>Agendamento</title>
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/agendamento.css">
{% endblock %}

{% block body %}

    <main>
        <form>
            <div class="input-group">
                <label>Nome</label>
                <span class="input-group-text">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                    </svg>
                </span>
                <input type="text" id="nome" class="form-control ml-2" required="required" placeholder="Nome"
                    aria-describedby="basic-addon1" />
                <label>Tipo de Serviço</label>
                <select id="tipo_servico">
                    <option value="Montagem" selected="selected">Montagem</option>
                    <option value="Instalação">Instalação</option>
                    <label>Descrição</label>
                    <span class="input-group-text">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                        </svg>
                    </span>
                    <input type="textbox" id="descricao" class="form-control ml-2" required="required" placeholder="Insira mais informações sobre o serviço"
                        aria-describedby="basic-addon1" />
            </div>
            <button id="enviar" onclick="mandaMSG()">Enviar</button>
        </form>
    </main>

    <script type="text/javascript">
        function mandaMSG(){
          var msg = "";
          var e = document.getElementById("tipo_servico");
          var tipo_servico = e.options[e.selectedIndex].text;
          msg += "Nome%3A%20" + encodeURIComponent(document.getElementById("nome").value) + "%0A";
          msg += "Tipo%20de%20Serviço%3A%20" + encodeURIComponent(tipo_servico) + "%0A";
          msg += "Descrição%3A%20" + encodeURIComponent(document.getElementById("descricao").value) + "%0A";
          window.open("https://api.whatsapp.com/send?phone=5519997831544&text=Olá!%0ASolicito%20um%20orçamento%0ASeguem%20os%20dados%3A%0A"+msg);
        }
      </script>
{% endblock %}