{% extends "layout.html" %}

{% block head %}
    <title>Oficina do Móvel</title>
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/home.css">
{% endblock %}

{% block body %}

<main>
    <div class="container_slideshow">
            <article class="sobre">
                <p>Com mais de 15 anos de experiência, a oficina do móvel presta diferentes tipos de serviço, como montagens, desmontagens e
                    reparos de móveis, instalação de painéis e muito mais. Para mais informações, preencher o cadastro na tela de agendamento</p>
            </article>
   </div>
</main>
{% endblock %}
