{% extends "layout.html" %}

{% block head %}
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/login.css">
    
{% endblock %}

{% block body %}

    <main class="form-container">
        <div class="card">
            <div class="card-body rounded">
                <svg width="60" height="60" fill="black" class="ico_pessoa"
                    viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                    <path fill-rule="evenodd"
                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                </svg>
                <form action="/login" method="post">
                    <div class="input-group">
                        <span class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" fill="black"
                                class="ico_login">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                            </svg>
                        </span>
                        <input type="text" name="username" class="form-control ml-2" required="required" placeholder="Nome"
                            aria-describedby="basic-addon1" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" fill="black"
                                class="ico_login">
                                <path
                                    d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2" />
                            </svg>
                        </span>
                        <input type="password" name="password" class="form-control" required="required" placeholder="Senha"
                            aria-describedby="basic-addon2" />
                    </div>
                    <div class="text-center">
                        <button type="submit" class="button-confirm">Entrar</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}